.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.tarjeta{
    border: 2px solid red;
    margin-left: 10px;
    width: 350px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.foto-noticia{
    width: 300px;
    height: 300px;
}

