<div class="container cabecera">
    <mat-toolbar color="primary" class="mt-5">
        <h1>LOGIN ADMINISTRADOR</h1>
    </mat-toolbar>
</div>

<div class="formulario ">
    <form [formGroup]="loginForm">

        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingresa tu usuario" formControlName="usuario">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingresa tu contraseña" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Ingresa tu contraseña" formControlName="contraseña">
        </mat-form-field>
    </form>

</div>
