.contenedor{
    margin-right: 10%;
    margin-left: 10%;
    height: 700px;
}

.table-dashboard{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.foto-noti{
    width: 100px;
    height: 60px;
}
.foto-noti:hover{
    width: 130px;
    height: 70px;
}

table{
    width: 100%;
}

.ellipsis{
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}